// Basic Template

$black: #1A1A1A;
$grey: #333333;
$logoPurp: #9C23A9;
$snow: #F4EDED;
$darkBlue: #41658A;
$background: linear-gradient(90deg, $logoPurp 0%, $black 100%);
$green: #21BD26;
$imageShadow: radial-gradient(circle, $darkBlue 30%, $logoPurp 100%);


$orange: #F39237;
$darkPurple: #190B28;
$shadowPurp: #201230;
$shadowBlue: #233c54;
$brown: #402302;
$cyan: #30BCED;
$blueGreen: #0B2828;

$headerFont: calc(5 * (1vh + 1vw));
$largeFont: calc(1.6 * (1vh + 1vw));
$mediumFont: calc(.8 * (1vh + 1vw));
$smallFont: calc(.6* (1vh + 1vw));

$smallIcon: calc(1 * (1vh + 1vw));

$shadow: .2em 0 .4em .2em $grey;


