// Basic Template

$yellow: #FCC56E;
$white: #F4F1EE;
$blue: #9DE7FF;
$green: #CEFC94;
$black: #000;
$text: #7C6542;

$headerFont: calc(5 * (1vh + 1vw));
$largeFont: calc(1.2 * (1vh + 1vw));
$mediumFont: calc(.7 * (1vh + 1vw));
$smallFont: calc(.5* (1vh + 1vw));

$smallIcon: calc(.8 * (1vh + 1vw));



