@import '/src/styles/shared.scss';

.card{
    position: relative;
    width: calc(18 * 2vw);
    max-width: 16em;
    height: calc(18 * 2vh);
    max-height: 16em;
    border-radius: 12%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 15% 25%;
    align-items: center;
    place-items: center;
    box-shadow: $shadow;


    &__info {
        position: absolute;
        top: 4%;
        right: 4%;
        font-size: $smallIcon;
        color: $logoPurp;
    }

    &__image {
        grid-row: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12% 12% 0 0;
        cursor: pointer;
    }

    &__title{
        font-size: max($mediumFont, 1.4em);
        color: $snow;
        cursor: pointer;
    }
    
}