@import '/src/styles/shared.scss';


.home {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 12%;
    padding-right: 4%;
    overflow-y: auto;

    
    &__bubble{
        height: max-content;
        grid-column: 1;
        display: grid;
        grid-template-columns: repeat(auto-fit, 18em);
        grid-template-rows: auto;
        justify-items: center;
        gap: 8% 2%;
    }

    &__aside {
        grid-column: 2;
        padding: 4%;
        background-color: gray;
        display: grid;
        grid-template-rows: 20% 80%;
    }

    &__img {
        width: 100px;
        height: 100px;
        grid-column: 2;
        grid-row: span 2;
    }

    &__title {
        grid-row: 1;
        height: 100%;
        width: 100%;
        font-size: 3em;
        text-align: center;
        color: $snow;
        text-shadow: .05em .05em .05em $purple;
    }

    &__content {
        grid-row: 2;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__winner {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &__order, &__opt {
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        font-size: 2em;
        color: $snow;
    }
}

p {
    font-size: 1.4em;
    color: $snow;
    text-shadow: .05em .05em .05em $purple;
}

ul {
    font-size: 1.2em;
    color: $orange;
    text-shadow: .05em .05em .05em $purple;
}

.winnername {
    grid-column: 1;
    grid-row: 1;
 
}

.winnerlink {
    grid-column: 1;
    grid-row: 2;
   
}