@import '/src/styles/shared.scss';


.header {
    height: 100%;
    width: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;

    &__title {
        font-size: $headerFont;
        background: $background;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__logo{
        height: 3vh;
        width: 2vw;
    }
}