@import '/src/styles/shared.scss';


.header {
    height: 100%;
    width: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;

    &__title {
        font-size: 8em;
        color: $snow;
        text-shadow: .05em .05em .05em $purple;
    }

    &__logo{
        height: 6em;
        width: 6em;
    }
}