@import '/src/styles/shared.scss';


.navbar {
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;

        &__brand {
            display: flex;
            align-items: center;
        }

                &__title {
                    font-size: $largeFont; 
                }

                &__logo{
                    height: 2vh;
                    width: 2vw;
                }
}