@import '/src/styles/shared.scss';


.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__title {
        font-size: $largeFont;
        background: $background;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__logo{
        height: 4vh;
        width: 4vw;
    }
}