@import '/src/styles/shared.scss';


.footer {
    margin-top: auto;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

        &__img {
            height: 10vh;
            width: 12vw;
            max-width: 3em;
            max-height: 3em;
            border-radius: 50%;
            object-fit: cover;
        }

        &__author {
            font-size: $smallFont;
            margin-left: 1%;
            margin-right: 4%;
            color: $text;
        }

        &__links {
            display: flex;
            align-items: center;
            gap: 12%;
        }

            &__icon {
                font-size: $smallIcon;
                color: $blue;
            }

}